html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: #eee;
    color: #ffffff;
  }
  
  #header {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 50px;
  }
  
  #canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 400px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff9966;
}

/* Content section styles */
.content-section {
  display: none; /* Hide sections by default */
  padding: 100px 20px; /* Adjust padding for content */
  width: 100%;
  text-align: center;
}

.content-section.active {
  display: block; /* Show the active section */
}



